.border-red{border:1px solid red;}
.border-blue{border:1px solid blue;}
.height-150{height: 150px;font-size: 1em;}



/* 
 * Chat box styles 
 */

.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}

.chat li .chat-body p
{
    margin: 0;
    color: black;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    overflow-y: scroll;
    height: 600px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
/* 
 * End of chat box styles 
 */







span.current{
    color:red;
}
span.disabled{
    display:none;
}
span.pagination-button{
    font-size:13px ;
    padding:2px 2px 2px 2px;
    width: 25px;
}
div.login_container{
    width:350px;
    margin: 100px 0px 50px 100px;
    padding:0px 30px 30px 0px;
    border-right:1px solid #a6a6a6;
    float:left;
}

div#carousel-area{
    float:left;
    width: 50%;
    height: 500px;
    padding: 0px 0px 0px 50px;
    margin: 0px 0px 0px 20px;
}

.table-hover tr:hover{
    background-color: rgb(216,237,247);
}
.actions-description{
    background-color: rgb(216,237,208);
    color:black;
}
.actions-edit{
    background-color: rgb(251,245,216);
    color:black;
}
.actions-delete{
    background-color: rgb(240,218,218) ;
    color:black;
}

form.item_form div.form-group label {
    color: #2764fd;
}
form.item_form div.form-group input {
    color: #0b0d12;
}
.item-form-wrapper{
    border-right:1px solid #94969b;
    padding-top:15px;
    padding-bottom: 50px;
    background-color: #ecedef;
}
.item-carousel-wrapper{
    padding-top:50px;
    padding-bottom: 92px;
}
#quantitytype{
    font-size: 15px;
}